<link href="css/layout.css" rel="stylesheet">
<link href="library/umeditor/themes/default/css/umeditor.css"
	media="all" rel="stylesheet" type="text/css" />
<div class="row" ng-controller="sysPublicDetailsCtrl">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>基础信息</h5>
			</div>
			<div class="ibox-content">
				<form class="form-horizontal" role="form">

					<div class="form-group">
						<label for="publicTitle" class="col-sm-2 control-label">公共平台标题</label>
						<div class="col-sm-3">
							<input type="publicTitle" class="form-control" id="publicTitle"
								placeholder="" ng-model="pPublic.publicTitle">
						</div>

						<label for="publicAddress" class="col-sm-2 control-label">详细地址</label>
						<div class="col-sm-3">
							<input type="publicAddress" class="form-control"
								id="publicAddress" placeholder=""
								ng-model="pPublic.publicAddress">
						</div>
					</div>

					<div class="form-group">
						<label for="publicFax" class="col-sm-2 control-label">传真</label>
						<div class="col-sm-3">
							<input type="publicFax" class="form-control" id="publicFax"
								placeholder="" ng-model="pPublic.publicFax">
						</div>

						<label for="publicLink" class="col-sm-2 control-label">网址</label>
						<div class="col-sm-3">
							<input type="publicLink" class="form-control" id="publicLink"
								placeholder="" ng-model="pPublic.publicLink">
						</div>
					</div>

					<div class="form-group">
						<label for="publicCompany" class="col-sm-2 control-label">所属公司</label>
						<div class="col-sm-3">
							<input type="publicCompany" class="form-control"
								id="publicCompany" placeholder=""
								ng-model="pPublic.publicCompany">
						</div>

						<label for="publicState" class="col-sm-2 control-label">状态</label>
						<div class="col-sm-3">
							<select type="publicState" class="form-control" id="publicState"
								placeholder="" ng-model="pPublic.publicState">
								<option value="1">上传</option>
								<option value="2">发布</option>
								<option value="3">删除</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="regionId" class="col-sm-2 control-label">地区名称</label>
						<div class="col-sm-3">
							<select id="regionId"
								ng-options="region.regionId as region.regionName for region in regionList"
								class="form-control" ng-model="pPublic.regionId">
								<option value="">请选择</option>
							</select>
						</div>

						<label for="basicsId" class="col-sm-2 control-label">开放层级</label>
						<div class="col-sm-3">
							<select id="basicsId"
								ng-options="basics.basicsId as basics.basicsName for basics in basicsList"
								class="form-control" ng-model="pPublic.basicsId">
								<option value="">请选择</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="parkContent" class="col-md-2 control-label">详情图</label>
						<div class="col-md-8">
							<div class="white-bg mt-10 p-10">
								<div class="col-lg-6">
									<div class="img-load">
										<img ng-src="{{imgSrcMax}}" />
									</div>
								</div>
								<div class="col-lg-6 m-t-xs">
									<div>
										<div type="button" class="btn btn-w-m btn-primary file-btn">
											<div file-input="fileMax" id="fileMax"
												on-change="previewImageMax()"
												accept="image/jpg,image/jpeg,image/png"></div>
											浏览
										</div>
									</div>

									<div class="mt-10">
										<button type="button" class="btn btn-w-m btn-primary"
											ng-click="uploadImageMax('fileMax')">上传</button>
									</div>
									<div class="row">
										<div class="mt-10 col-md-6">
											<!-- <input ng-model="home.url" type="text" class="form-control" placeholder="编辑链接(非必填)"/> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="parkContent" class="col-md-2 control-label">缩略图</label>
						<div class="col-md-8">
							<div class="white-bg mt-10 p-10">
								<div class="col-lg-6">
									<div class="img-load">
										<img ng-src="{{imgSrcMin}}" />
									</div>
								</div>
								<div class="col-lg-6 m-t-xs">
									<div>
										<div type="button" class="btn btn-w-m btn-primary file-btn">
											<div file-input="fileMin" id="fileMin"
												on-change="previewImageMin()"
												accept="image/jpg,image/jpeg,image/png"></div>
											浏览
										</div>
									</div>

									<div class="mt-10">
										<button type="button" class="btn btn-w-m btn-primary"
											ng-click="uploadImageMin('fileMin')">上传</button>
									</div>
									<div class="row">
										<div class="mt-10 col-md-6">
											<!-- <input ng-model="home.url" type="text" class="form-control" placeholder="编辑链接(非必填)"/> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="publicContent" class="col-sm-2 control-label">园区简介</label>
						<div class="col-sm-8">
							<textarea class="form-control" name="publicContent"
								id="publicContent"></textarea>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-2"></div>
						<div class="col-sm-1">
							<button type="button" class="btn btn-primary"
								ng-click="updatePublicDetails()">确认保存</button>
						</div>
						<!-- <div class="col-sm-1">
	      <input type="button" class="btn btn-primary" onclick="javascript:history.go(-1)" value="返回列表"/>
	    </div> -->
					</div>

					<div class="ibox-title">
						<h5>级联信息</h5>
					</div>
					<div class="form-group">
						<div class="col-sm-2"></div>
						<div class="col-sm-8">
							<div class="panel-body">
								<!-- 标签 -->
								<div class="panel panel-default">
									<div class="panel-heading">
										<h5 class="panel-title">
											<a data-toggle="collapse" data-parent="#version" href="#v41"
												aria-expanded="true" class="">标签</a>
											<code class="pull-right">
												<button ng-click="addLab()" type="button"
													class="btn btn-warning">&nbsp;&nbsp;添加&nbsp;标签&nbsp;&nbsp;</button>
											</code>
										</h5>
									</div>
									<div id="v41" class="panel-collapse collapse in"
										aria-expanded="true">
										<div class="panel-body">
											<span ng-repeat="lab in pPublic.labels"> <img src=""
												alt="{{lab.labelName}}" class="img-thumbnail"> <a
												ng-click="delLab($index)">
													<button type="button"
														class="btn btn-danger btn-circle btn-outline btn-my">x</button>
											</a>&nbsp;
											</span>
										</div>
									</div>
								</div>

								<!-- 创建单位 -->
								<div class="panel panel-default">
									<div class="panel-heading">
										<h5 class="panel-title">
											<a data-toggle="collapse" data-parent="#version" href="#v43"
												aria-expanded="true" class="">创建单位</a>
											<code class="pull-right">
												<button ng-click="addCom()" type="button"
													class="btn btn-warning">&nbsp;&nbsp;添加&nbsp;单位&nbsp;&nbsp;</button>
											</code>
										</h5>
									</div>
									<div id="v43" class="panel-collapse collapse in"
										aria-expanded="true">
										<div class="panel-body">
											<span ng-repeat="com in pPublic.companys"> <img src=""
												alt="{{com.companyName}}" class="img-thumbnail"> <a
												ng-click="delCom($index)">
													<button type="button"
														class="btn btn-danger btn-circle btn-outline btn-my">x</button>
											</a>&nbsp;
											</span>
										</div>
									</div>
								</div>

								<!-- 联系电话 -->
								<div class="panel panel-default">
									<div class="panel-heading">
										<h5 class="panel-title">
											<a data-toggle="collapse" data-parent="#version" href="#v40"
												aria-expanded="true" class="">联系电话</a>
											<code class="pull-right">
												<button ng-click="showAddWay()" type="button"
													class="btn btn-warning">&nbsp;&nbsp;添加&nbsp;电话&nbsp;&nbsp;</button>
											</code>
										</h5>
									</div>
									<div id="v40" class="panel-collapse collapse in"
										aria-expanded="true">
										<div class="panel-body">
											<span ng-repeat="way in pPublic.ways"> <img src=""
												alt="{{way.wayTel}}" class="img-thumbnail"> <a
												ng-click="delWay($index)">
													<button type="button"
														class="btn btn-danger btn-circle btn-outline btn-my">x</button>
											</a>&nbsp;
											</span>
										</div>
									</div>
								</div>

								<!-- 所属园区 -->
								<div class="panel panel-default">
									<div class="panel-heading">
										<h5 class="panel-title">
											<a data-toggle="collapse" data-parent="#version" href="#v42"
												aria-expanded="true" class="">所属园区</a>
											<code class="pull-right">
												<!-- <a ng-click="addPark()" ng-style="{color:'red'}">添加所属园区</a> -->
												<button ng-click="addPark()" type="button"
													class="btn btn-warning">&nbsp;&nbsp;添加&nbsp;园区&nbsp;&nbsp;</button>
											</code>
										</h5>
									</div>
									<div id="v42" class="panel-collapse collapse in"
										aria-expanded="true">
										<div class="panel-body">
											<span ng-repeat="park in pPublic.parks"> <img src=""
												alt="{{park.parkName}}" class="img-thumbnail"> <a
												ng-click="delPark($index)">
													<button type="button"
														class="btn btn-danger btn-circle btn-outline btn-my">x</button>
											</a>&nbsp;
											</span>
										</div>
									</div>
								</div>

								<!-- 客户经理 -->
								<div class="panel panel-default">
									<div class="panel-heading">
										<h5 class="panel-title">
											<a data-toggle="collapse" data-parent="#version" href="#v40"
												aria-expanded="true" class="">客户经理</a>
											<code class="pull-right">
												<button ng-click="showUmanAdd()" type="button"
													class="btn btn-warning">&nbsp;&nbsp;添加&nbsp;经理&nbsp;&nbsp;</button>
											</code>
										</h5>
									</div>
									<div id="v40" class="panel-collapse collapse in"
										aria-expanded="true">
										<div class="panel-body">
											<span ng-repeat="uman in pPublic.umanagers">
												<button type="button" class="btn btn-info"
													ng-click="showUman($index)">{{uman.umanagerName}}</button>
												<a ng-click="delUman($index)">
													<button type="button"
														class="btn btn-danger btn-circle btn-outline btn-my">x</button>
											</a>&nbsp;
											</span>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
			</form>
			<div></div>
		</div>
	</div>

	<!-- 添加电话 -->
	<div class="modal fade" id="wayAdd" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">添加联系电话</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="managerAccount" class="col-sm-2 control-label">电话：</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="way" placeholder=""
									ng-model="wayTel">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
						style="margin-bottom: 0;" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" ng-click="addWay()">添加</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 客户经理查询 -->
	<div class="modal fade" id="uMan" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width: 1100px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">客户经理</h4>
				</div>
				<div class="modal-body">
					<form class="form-inline" role="form">
						<div class="row m-t">
							<div class="form-group col-xs-2">
								<div class="input-group">
									<input class="form-control" type="uManName" id="uManName"
										placeholder="请客户经理名称.." ng-model="uManName">
								</div>
							</div>
							<div class="form-group col-xs-2">
								<button type="button" class="btn btn-primary"
									ng-click="seleceAdUser()">立即搜索</button>
							</div>

						</div>
						<div class="row m-t"></div>
					</form>
					<div>
						<table
							class="table table-striped table-bordered table-hover dataTables-example">
							<tr>
								<th style="text-align: center;">姓名</th>
								<th style="text-align: center;">公司</th>
								<th style="text-align: center;">部门</th>
								<th style="text-align: center;">职位</th>
								<th style="text-align: center;">邮箱</th>
								<th style="text-align: center;">电话</th>
								<th style="text-align: center;">手机</th>
								<th style="text-align: center;">操作</th>
							</tr>
							<tr ng-repeat="u in uManList">
								<td>{{u.userName}}</td>
								<td>{{u.userCompany}}</td>
								<td>{{u.userDepartment}}</td>
								<td>{{u.userPost}}</td>
								<td>{{u.userEmail}}</td>
								<td>{{u.userTel}}</td>
								<td>{{u.userMobile}}</td>
								<td>
									<button ng-click="addUManager(u.userAccount)" type="button"
										class="btn btn-warning">添加</button>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
						style="margin-bottom: 0;" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>


	<!-- 客户经理详情 -->
	<div class="modal fade" id="uManDetail" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">客户经理</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">

						<div class="form-group">
							<label for="umanagerName" class="col-sm-2 control-label">姓名</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="umanagerName"
									placeholder="" ng-model="uman.umanagerName" readonly="true">
							</div>
						</div>

						<div class="form-group">
							<label for="umanagerCompany" class="col-sm-2 control-label">公司</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="umanagerCompany"
									placeholder="" ng-model="uman.umanagerCompany" readonly="true">
							</div>
						</div>

						<div class="form-group">
							<label for="umanagerDepartment" class="col-sm-2 control-label">部门</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="umanagerDepartment"
									placeholder="" ng-model="uman.umanagerDepartment"
									readonly="true">
							</div>
						</div>

						<div class="form-group">
							<label for="umanagerDepartment" class="col-sm-2 control-label">职位</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="umanagerPost"
									placeholder="" ng-model="uman.umanagerPost" readonly="true">
							</div>
						</div>

						<div class="form-group">
							<label for="umanagerEmail" class="col-sm-2 control-label">邮箱</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="umanagerEmail"
									placeholder="" ng-model="uman.umanagerEmail" readonly="true">
							</div>
						</div>

						<div class="form-group">
							<label for="umanagerTel" class="col-sm-2 control-label">电话</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="umanagerTel"
									placeholder="" ng-model="uman.umanagerTel" readonly="true">
							</div>
						</div>

						<div class="form-group">
							<label for="umanagerMobile" class="col-sm-2 control-label">手机</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="umanagerMobile"
									placeholder="" ng-model="uman.umanagerMobile" readonly="true">
							</div>
						</div>

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
						style="margin-bottom: 0;" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
</div>

