<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lingang.core.persistence.writer.SysIndustryUmanagerWriterMapper" >
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_industry_umanager
    where industry_umanager_id = #{industryUmanagerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lingang.api.domain.entity.SysIndustryUmanager" >
    insert into sys_industry_umanager (industry_umanager_id, industry_id, user_account
      )
    values (#{industryUmanagerId,jdbcType=INTEGER}, #{industryId,jdbcType=INTEGER}, #{userAccount,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="industryUmanagerId" parameterType="com.lingang.api.domain.entity.SysIndustryUmanager" >
    insert into sys_industry_umanager
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="industryUmanagerId != null" >
        industry_umanager_id,
      </if>
      <if test="industryId != null" >
        industry_id,
      </if>
      <if test="userAccount != null" >
        user_account,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="industryUmanagerId != null" >
        #{industryUmanagerId,jdbcType=INTEGER},
      </if>
      <if test="industryId != null" >
        #{industryId,jdbcType=INTEGER},
      </if>
      <if test="userAccount != null" >
        #{userAccount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lingang.api.domain.entity.SysIndustryUmanager" >
    update sys_industry_umanager
    <set >
      <if test="industryId != null" >
        industry_id = #{industryId,jdbcType=INTEGER},
      </if>
      <if test="userAccount != null" >
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
    </set>
    where industry_umanager_id = #{industryUmanagerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lingang.api.domain.entity.SysIndustryUmanager" >
    update sys_industry_umanager
    set industry_id = #{industryId,jdbcType=INTEGER},
      user_account = #{userAccount,jdbcType=VARCHAR}
    where industry_umanager_id = #{industryUmanagerId,jdbcType=INTEGER}
  </update>
</mapper>