<div class="rightContent row">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<!-- 头部信息 -->
				  <div class="row" style="width: 1299px">
	                <div class="col-lg-10">
	                    <h2>信息纠错</h2>
	                    <ol class="breadcrumb">
	                        <li>
	                            <a href="#/index">主页</a>
	                        </li>
	                        <li>
	                            <a href="javascript:void(0)">客服管理</a>
	                        </li>
	                        <li>
	                            <strong>信息纠错</strong>
	                        </li>
	                    </ol>
	                </div>
	            </div>
			</div>
			<div ng-include="rightContentUrl"></div>
		</div>
	</div>
</div>