<link href="css/layout.css" rel="stylesheet">
<link href="library/umeditor/themes/default/css/umeditor.css"
	media="all" rel="stylesheet" type="text/css" />
<div class="row" ng-controller="sysIndustryAddCtrl">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>基础信息</h5>
			</div>
			<div class="ibox-content">
				<form class="form-horizontal" role="form">

					<div class="form-group">
						<label for="industryTitle" class="col-sm-2 control-label">产业集群标题</label>
						<div class="col-sm-3">
							<input type="industryTitle" class="form-control"
								id="industryTitle" placeholder=""
								ng-model="industry.industryTitle">
						</div>

						<label for="industrySimple" class="col-sm-2 control-label">简称</label>
						<div class="col-sm-3">
							<input type="industrySimple" class="form-control"
								id="industrySimple" placeholder=""
								ng-model="industry.industrySimple">
						</div>
					</div>

					<div class="form-group">
						<label for="industryLink" class="col-sm-2 control-label">详细内容链接</label>
						<div class="col-sm-3">
							<input type="industryLink" class="form-control" id="industryLink"
								placeholder="" ng-model="industry.industryLink">
						</div>

						<label for="industryState" class="col-sm-2 control-label">状态</label>
						<div class="col-sm-3">
							<select type="industryState" class="form-control"
								id="industryState" placeholder=""
								ng-model="industry.industryState">
								<option value="1">上传</option>
								<option value="2">发布</option>
							</select>
						</div>
					</div>


					<div class="form-group">
						<label for="parkContent" class="col-md-2 control-label">详情图</label>
						<div class="col-md-8">
							<div class="white-bg mt-10 p-10">
								<div class="col-lg-6">
									<div class="img-load">
										<img ng-src="{{imgSrcMax}}" />
									</div>
								</div>
								<div class="col-lg-6 m-t-xs">
									<div>
										<div type="button" class="btn btn-w-m btn-primary file-btn">
											<div file-input="fileMax" id="fileMax"
												on-change="previewImageMax()"
												accept="image/jpg,image/jpeg,image/png"></div>
											浏览
										</div>
									</div>

									<div class="mt-10">
										<button type="button" class="btn btn-w-m btn-primary"
											ng-click="uploadImageMax('fileMax')">上传</button>
									</div>
									<div class="row">
										<div class="mt-10 col-md-6">
											<!-- <input ng-model="home.url" type="text" class="form-control" placeholder="编辑链接(非必填)"/> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="form-group">
						<label for="parkContent" class="col-md-2 control-label">缩略图</label>
						<div class="col-md-8">
							<div class="white-bg mt-10 p-10">
								<div class="col-lg-6">
									<div class="img-load">
										<img ng-src="{{imgSrcMin}}" />
									</div>
								</div>
								<div class="col-lg-6 m-t-xs">
									<div>
										<div type="button" class="btn btn-w-m btn-primary file-btn">
											<div file-input="fileMin" id="fileMin"
												on-change="previewImageMin()"
												accept="image/jpg,image/jpeg,image/png"></div>
											浏览
										</div>
									</div>

									<div class="mt-10">
										<button type="button" class="btn btn-w-m btn-primary"
											ng-click="uploadImageMin('fileMin')">上传</button>
									</div>
									<div class="row">
										<div class="mt-10 col-md-6">
											<!-- <input ng-model="home.url" type="text" class="form-control" placeholder="编辑链接(非必填)"/> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="form-group">
						<label for="industryContent" class="col-sm-2 control-label">产业集群简介</label>
						<div class="col-sm-8">
							<textarea class="form-control" name="industryContent"
								id="industryContent"></textarea>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-2"></div>
						<div class="col-sm-1">
							<button type="button" class="btn btn-primary"
								ng-click="addIndustryDetails()">确认保存</button>
						</div>
						<div class="col-sm-1">
							<!-- <button type="button" class="btn btn-primary" onclick="javascript:history.go(-1)"> 返回列表 </button> -->
							<!-- <input type="button" class="btn btn-primary" onclick="javascript:history.go(-1)" value="返回列表"/> -->
						</div>
					</div>

				</form>
				<div></div>
			</div>
		</div>
	</div>

</div>

