<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yd.dby.app.mapper.YdStoreGoodsClassifyMapper" >
  <resultMap id="BaseResultMap" type="com.yd.dby.app.entity.YdStoreGoodsClassify" >
    <id column="sc_id" property="scId" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="TINYINT" />
    <result column="is_show" property="isShow" jdbcType="TINYINT" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    sc_id, store_id, sort, is_show, pid, title, created_at, updated_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from yd_store_goods_classify
    where sc_id = #{scId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from yd_store_goods_classify
    where sc_id = #{scId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yd.dby.app.entity.YdStoreGoodsClassify" >
    insert into yd_store_goods_classify (sc_id, store_id, sort, 
      is_show, pid, title, 
      created_at, updated_at)
    values (#{scId,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{sort,jdbcType=TINYINT}, 
      #{isShow,jdbcType=TINYINT}, #{pid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yd.dby.app.entity.YdStoreGoodsClassify" >
    insert into yd_store_goods_classify
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scId != null" >
        sc_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="isShow != null" >
        is_show,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scId != null" >
        #{scId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=TINYINT},
      </if>
      <if test="isShow != null" >
        #{isShow,jdbcType=TINYINT},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yd.dby.app.entity.YdStoreGoodsClassify" >
    update yd_store_goods_classify
    <set >
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=TINYINT},
      </if>
      <if test="isShow != null" >
        is_show = #{isShow,jdbcType=TINYINT},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sc_id = #{scId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yd.dby.app.entity.YdStoreGoodsClassify" >
    update yd_store_goods_classify
    set store_id = #{storeId,jdbcType=INTEGER},
      sort = #{sort,jdbcType=TINYINT},
      is_show = #{isShow,jdbcType=TINYINT},
      pid = #{pid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where sc_id = #{scId,jdbcType=INTEGER}
  </update>
</mapper>