<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lingang.core.persistence.reader.SysParkLabelReaderMapper" >
  <resultMap id="BaseResultMap" type="com.lingang.api.domain.entity.SysParkLabel" >
    <id column="park_label_id" property="parkLabelId" jdbcType="INTEGER" />
    <result column="park_id" property="parkId" jdbcType="INTEGER" />
    <result column="label_id" property="labelId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    park_label_id, park_id, label_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_park_label
    where park_label_id = #{parkLabelId,jdbcType=INTEGER}
  </select>
</mapper>