<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lingang.core.persistence.reader.SysPowerReaderMapper" >
  <resultMap id="BaseResultMap" type="com.lingang.api.domain.entity.SysPower" >
    <id column="power_id" property="powerId" jdbcType="INTEGER" />
    <result column="manager_id" property="managerId" jdbcType="INTEGER" />
    <result column="obj_id" property="objId" jdbcType="INTEGER" />
    <result column="power_modular_str" property="powerModularStr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    power_id, manager_id, obj_id, power_modular_str
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_power
    where power_id = #{powerId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByManagerId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_power
    where manager_id = #{managerId,jdbcType=INTEGER}
  </select>
</mapper>