<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lingang.core.persistence.reader.SysPartnerUmanagerReaderMapper" >
  <resultMap id="BaseResultMap" type="com.lingang.api.domain.entity.SysPartnerUmanager" >
    <id column="partner_umanager_id" property="partnerUmanagerId" jdbcType="INTEGER" />
    <result column="partner_id" property="partnerId" jdbcType="INTEGER" />
    <result column="umanager_id" property="umanagerId" jdbcType="INTEGER" />
    <result column="user_account" property="userAccount" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    partner_umanager_id, partner_id, umanager_id, user_account
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_partner_umanager
    where partner_umanager_id = #{partnerUmanagerId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPartnerIdAndUserAccount" resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from sys_partner_umanager
    where partner_id = #{partnerId,jdbcType=INTEGER} and 
    user_account = #{userAccount,jdbcType=VARCHAR}
  </select>
</mapper>