<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lingang.core.persistence.reader.SysPartnerParkReaderMapper" >
  <resultMap id="BaseResultMap" type="com.lingang.api.domain.entity.SysPartnerPark" >
    <id column="partner_park_id" property="partnerParkId" jdbcType="INTEGER" />
    <result column="partner_id" property="partnerId" jdbcType="INTEGER" />
    <result column="park_id" property="parkId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    partner_park_id, partner_id, park_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_partner_park
    where partner_park_id = #{partnerParkId,jdbcType=INTEGER}
  </select>
</mapper>