<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lingang.core.persistence.reader.SysServiceLabelReaderMapper" >
  <resultMap id="BaseResultMap" type="com.lingang.api.domain.entity.SysServiceLabel" >
    <id column="service_label_id" property="serviceLabelId" jdbcType="INTEGER" />
    <result column="service_id" property="serviceId" jdbcType="INTEGER" />
    <result column="label_id" property="labelId" jdbcType="INTEGER" />
  </resultMap>
   <!--新增resultMap  -->
  <resultMap type="com.lingang.api.domain.vo.SysLabelsVo" id="BaseResultMapVo">
  	<result column="label_id" property="labelId" jdbcType="INTEGER"></result>
  	<result column="label_name" property="labelName" jdbcType="VARCHAR"></result>
  	<result column="count_label" property="countLabel" jdbcType="INTEGER"></result>
  </resultMap>
  <sql id="Base_Column_List" >
    service_label_id, service_id, label_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_service_label
    where service_label_id = #{serviceLabelId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_service_label
    where service_label_id = #{serviceLabelId,jdbcType=INTEGER}
  </delete>
  <!-- 后台 -->
  <select id="selectServiceTotalCount" resultType = "java.lang.Integer">
 	select
 		COUNT (DISTINCT(service_id)) as total_count
	from
 		sys_service_label;
  </select>
  
  <select id="selectServiceCountLabel" resultMap = "BaseResultMapVo">
 	select s2.label_id,s2.label_name,
 		COUNT (s2.label_id) as count_label
	from
 		sys_service_label s1
	inner join (SELECT * FROM sys_label WHERE label_state=1) s2 on s1.label_id = s2.label_id
	group by
 		s2.label_id,s2.label_name
  </select>
</mapper>